{% extends "network/layout.html" %}

{% load network_extras %}
{% load static %}

{% block body %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row" style="margin-top: 20px;">
        <div class="col s12">
            <div class="card-panel z-depth-2 create-post">
                <div class="row">
                    <div class="col s2">
                        <img src="{{user.imgurl}}" class="avatar">
                    </div>
                    <div class="col input-field s10 m10" style="padding-left: 30px;">
                        <form action="create_post" method="post" id="form1">
                            {% csrf_token %}
                            <label for="textarea" style="font-size: 2rem;">What's on your mind?
                                {{user.first_name.capitalize}}</label>
                            <textarea id="textarea" class="materialize-textarea" spellcheck="false" name="text"
                                required></textarea>
                        </form>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0;">
                    <button class=" btn btn-large submit waves-effect mycolor right" type="submit" name="submit"
                        form="form1">
                        Post
                    </button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if page_obj|length == 0 %}
    <div class="center" style="margin-top: 100px">
        <h3 class="mycolor-text">All of the posts will appear here</h3>
    </div>
    {% endif %}

    {% for post in page_obj %}
    <div class="row">
        <div class="col s12">
            <div class="card ">
                <div class="card-content">
                    <div class="row">
                        <div class="col s1">
                            <img class="avatar-post" src="{{post.owner.imgurl}}">
                        </div>
                        <div class="col s10">
                            <a class="name-post" href="/profile/{{post.owner.username}}">{{post.owner.first_name}}
                                {{post.owner.last_name}}</a>
                            <span class="tooltipped right time-post" data-position="right" data-tooltip="{{post.date}}">
                                {{ post.date|get_time }}</span>
                        </div>
                    </div>
                    <!-- <hr> -->
                    <p class="post-text" id="post-{{post.id}}">{{post.text}}</p>
                    {% if not user.is_authenticated %}
                    <div class=" card-content">
                        <h4 class="grey-text lighten-3 left like-count">
                            {{post.like.all.count}}
                            <i class="material-icons mycolor-text like-icon">favorite_fill</i>
                        </h4>
                    </div>
                    {% endif %}
                </div>
                {% if user.is_authenticated %}
                <div class="card-action" style="padding-bottom: 0;">
                    <div class="row" style="margin-bottom: 0;">
                        <div class="col s1 like">
                            <span id="like-btn" style="cursor: pointer;" data-id="{{post.id}}">
                                <i class="material-icons mycolor-text like-icon">
                                    {% if post.id in liked_posts %}
                                    favorite_fill
                                    {% else %}
                                    favorite_border
                                    {% endif %}
                                </i>
                            </span>
                        </div>
                        <div class="col s1">
                            <h4 class="grey-text lighten-3 left like-count">{{post.like.all.count}}</h4>
                        </div>
                        {% if user == post.owner %}
                        <div class="col right s1">
                            <a class="modal-trigger waves-effect tooltipped edit-post" data-tooltip="Edit post"
                                data-position="right" data-target="modal-edit" style="padding: 10px;">
                                <i class="material-icons mycolor-text lighten-3">
                                    mode_edit
                                </i>
                            </a>
                        </div>
                        <div id="modal-edit" class="modal" style="outline:none">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="input-field col s12 ">
                                        <textarea id="{{post.id}}" type="text" class="materialize-textarea edit-text"
                                            spellcheck="false" required
                                            style="font-size: 30px;">{{post.text}}</textarea>
                                        <label class="mycolor-text">Edit post</label>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn waves-effect waves-light mycolor center modal-close"
                                    id="submit-edit">Save
                                </button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

        {% if page_obj.has_next or page_obj.has_previous %}
        <div class="pagination center ">
            <ul>
                {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?page={{ page_obj.previous_page_number }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}
                {% for p in page_obj.paginator.num_pages|make_range %}
                {% if p|add:'1' == page_obj.number %}
                <li class="active mycolor"><a href="#!">{{ page_obj.number }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="?page={{ p|add:'1' }}">{{p|add:'1'}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?page={{ page_obj.next_page_number }}"><i
                            class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>


    {% endblock %}

    {% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    {% endblock %}