{% extends 'book/layout.html' %}

{% block title %}
Confirm Booking - Hotels
{% endblock %}

{% block styles %}
<style>
    .collection-item {
        height: 100px !important;
    }
</style>

{% endblock %}

{% block body %}
{% if user.is_authenticated %}
{% firstof user.first_name.capitalize as fname %}
{% firstof user.last_name.capitalize as lname %}
{% firstof user.email as email %}
{% firstof user.phone as phone %}
{% endif %}
<div style="margin-top: 15px;">
    <div class="row">
        <div class="col sm12 m4">
            <ul class="collection">
                <li class="collection-item">
                    <p>Hotel</p>
                    <h5 class="mycolor-text">{{hotel.name}}</h5>
                </li>
                <div class="row">
                    <div class="col m6 s6">
                        <li class="collection-item">
                            <p>Checkin Date</p>
                            <h5 class="mycolor-text">{{checkin}}</h5>
                        </li>
                    </div>
                    <div class="col m6 s6">
                        <li class="collection-item">
                            <p>Checkout Date</p>
                            <h5 class="mycolor-text">{{checkout}}</h5>
                        </li>
                    </div>
                </div>
                <hr style="opacity: 0.3;">

                <div class="row">
                    <div class="col m4 s6">
                        <li class="collection-item">
                            <p>Rooms</p>
                            <h5 class="mycolor-text">{{room}}</h5>

                        </li>
                    </div>
                    <div class="col m4 s6">
                        <li class="collection-item">
                            <p>Adults</p>
                            <h5 class="mycolor-text">{{adult}}</h5>
                        </li>
                    </div>
                    <div class="col m4 s6">
                        <li class="collection-item">
                            <p>Children</p>
                            <h5 class="mycolor-text">{{child}}</h5>
                        </li>
                    </div>
                </div>
                <hr style="opacity: 0.3;">
                <li class="collection-item">
                    <p>Total Price</p>
                    <h5 class="mycolor-text">&#8377; {{price}}</h5>
                </li>
            </ul>
        </div>
        <div class="col s12 m8">

            <h4 class="mycolor-text center">Add Traveller Info</h4>
            <form action="{% url 'success' %}" method="post" class="col s12">
                {% csrf_token %}
                <input type="hidden" name="room" value="{{room}}">
                <input type="hidden" name="adult" value="{{adult}}">
                <input type="hidden" name="child" value="{{child}}">
                <input type="hidden" name="id" value="{{hotel.id}}">
                <input type="hidden" name="price" value="{{price}}">
                <input type="hidden" name="checkin" value="{{checkin}}">
                <input type="hidden" name="checkout" value="{{checkout}}">
                <input type="hidden" name="days" value="{{days}}">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" name="first_name" type="text" required="required" value="{{fname}}">
                        <label for="first_name" class="mycolor-text">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" required="required" value="{{lname}}">
                        <label for="last_name" class="mycolor-text">Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="phone" name="phone" type="number" required="required" value="{{phone}}">
                        <label for="phone" class="mycolor-text">Phone Number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" required="required" value="{{email}}">
                        <label for="email" class="mycolor-text">Email</label>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 0;">
                    <div class=" col s6">
                        <p style="font-size: 20px;">
                        </p>
                    </div>
                    <div class="col s6">
                        <button class="btn btn-large waves-effect waves-light mycolor right" type="submit"
                            name="submit">
                            Pay now
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
