{% extends "book/layout.html" %}
{% load static %}
{% load book_extras %}

{% block body %}
<!-- Section: Slider -->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="{% static 'book/images/hotel1.jpeg' %}">
            <!-- random image -->
            <div class="caption right-align">
                <h2 class="mycolor-text">Take Your Dream Vacation</h2>
            </div>
        </li>
        <li>
            <img src="{% static 'book/images/hotel2.jpeg' %}">
            <!-- random image -->
            <div class="caption right-align">
                <h2 class="mycolor-text">We Work With All Budgets</h2>
            </div>
        </li>
        <li>
            <img src="{% static 'book/images/hotel3.jpeg' %}">
            <!-- random image -->
            <div class="caption right-align">
                <h2 class="mycolor-text">Group & Individual Getaways</h2>
            </div>
        </li>
    </ul>
</section>

<!-- Section: Search -->
<section id="search" class="section section-search mycolor white-text center scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search Hotels</h3>
                <form action="/search" method="get">
                    {% csrf_token %}
                    <div class="input-field">
                        <input type="text" name="q" class="white grey-text autocomplete"
                            placeholder="Chandigarh, Jaipur, Delhi .. ">
                        <input type="submit" style="visibility: hidden;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Section: Popular Places -->
<section id="popular" class="section section-popular scrollspy">

    <div class="container">
        <div class="row">
            <h4 class="center">
                <span class="mycolor-text">Popular</span> Hotels</h4>
            {% for hotel in popular %}

            <div class="col s12 m4">
                <a href="/hotel/{{hotel.id}}" class="card" style="display: block;">
                    <div class="card-image">
                        <img src="{{hotel|get_first_img}}" height="180px" alt="">
                        <span class="card-title">{{hotel.name}}</span>
                    </div>
                    <div class="card-content truncate black-text">
                        {{hotel.address}}
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}

{% block script %}
<script>
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
        indicators: false,
        height: 400,
        transition: 500,
        interval: 6000
    });

    {% if message %}
    M.toast({ html: 'Welcome! here {{user.first_name.capitalize}}', displayLength: 6000, classes: 'mycolor-text' })
    {% endif %}

</script>
{% endblock %}