{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Hotels{% endblock %}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
        integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <script src="{% static 'book/layout.js' %}"></script>
    <link rel="stylesheet" href="{% static 'book/styles.css' %}">
    <link rel="icon" type="image/png" href=" {% static 'book/images/favicon.png' %}" />
    {% block styles %}
    {% endblock %}
</head>

<body>
    <div class="wrapper">

        <!-- Navbar -->
        <div class="navbar-fixed">
            <nav class="mycolor">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="/" class="brand-logo">Hotels</a>
                        <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="hide-on-med-and-down right">
                            <li>
                                <div class="center row" style="margin-bottom: 0;">
                                    <div class="col s12 ">
                                        <div class="row" id="topbarsearch">
                                            <form action="/search" method="get">
                                                {% csrf_token %}
                                                <div class="input-field col s6 s12 red-text">
                                                    <i class="white-text material-icons prefix">search</i>
                                                    <input type="text" name="q" placeholder="Search"
                                                        class="autocomplete white-text">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'popular' %}">Popular</a>
                            </li>
                            <li>
                                <a href="{% url 'track' %}">Track</a>
                            </li>

                            <li>
                                <!-- Dropdown Trigger -->
                                {% if user.is_authenticated %}
                                {% firstof user.first_name.capitalize as var0 %}
                                {% firstof "Profile" as var1 %}
                                {% firstof "Logout" as var2 %}
                                {% firstof "profile" as url1 %}
                                {% firstof "logout" as url2 %}
                                {% else  %}
                                {% firstof "Login" as var0 %}
                                {% firstof "Login" as var1 %}
                                {% firstof "Register" as var2 %}
                                {% firstof "login" as url1 %}
                                {% firstof "register" as url2 %}
                                {% endif %}

                                <a class='dropdown-trigger' href='#' data-target='dropdown1' style="outline: none;">
                                    {{var0}}<i class="material-icons right">account_circle</i></a>
                                <ul id='dropdown1' class='dropdown-content'>
                                    <li>
                                        <a href="/{{url1}}" class="mycolor-text">{{var1}}
                                            <i class="material-icons left">account_circle</i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/{{url2}}" class="mycolor-text">{{var2}}
                                            <i class="material-icons left">account_circle</i>
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-nav">
            <li>
                <a href="{% url 'index' %}">
                    <p style="font-size: 20px;">Home</p>
                </a>
            </li>
            <li>
                <a href="{% url 'popular' %}">
                    <p style="font-size: 20px;">Popular Places</p>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'profile' %}">
                    <p style="font-size: 20px;">Profile</p>
                </a>
            </li>
            <li>
                <a href="{% url 'logout' %}">
                    <p style="font-size: 20px;">Logout</p>
                </a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">
                    <p style="font-size: 20px;">Login</p>
                </a>
            </li>
            {% endif %}
        </ul>

        {% block body %}
        {% endblock %}
    </div>
    <div>
        <footer id="myfooter" style="width: 100%;  bottom: 0;">
            <div class="row" style=" margin-bottom: 0;">
                <div class="center" style="margin-top: 20px;  position: relative; bottom:-12px; ">
                    <a class="btn-floating btn-large waves-effect waves-light red scale-transition scale-out"
                        onclick="toTop()">
                        <i class="material-icons">keyboard_arrow_up</i>
                    </a>
                </div>
                <div class="row mycolor darken-4" style="margin-bottom: 0; padding-bottom: 0; ">
                    <div class=" s6 m8 l8">
                        <div class="contact left">

                            <span class="white-text" style="font-size: 16px;">
                                © 2020 Copyright Hotels Inc
                            </span>
                            <button class="btn-flat center">
                                <a class="grey-text text-lighten-4 " href="#!" style="font-size: 16px; ">
                                    <i class="material-icons left">email</i>
                                    Contact Us
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class=" s12 m4 l4">
                        <div class="social right">
                            <a href="#" class="white-text">
                                <i class="fab fa-facebook fa-2x"></i>
                            </a>
                            <a href="#" class="white-text">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                            <a href="#" class="white-text">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                            <a href="#" class="white-text">
                                <i class="fab fa-google-plus fa-2x"></i>
                            </a>
                            <a href="#" class="white-text">
                                <i class="fab fa-pinterest fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>



{% block script %}

{% endblock %}

</html>