{% extends "book/layout.html" %}
{% load book_extras %}

{% block title %}
Search Hotels
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 60px; ">
    <div class="row">
        {% if message %}
        <h2 class="mycolor-text center">{{message}}</h2>
        <div style="height: 40px;"> </div>
        <!-- Section: Search -->
        <section id="search" class="section section-search mycolor white-text center">
            <div class="container">
                <div class="row">
                    <div class="col s12" style="margin-top: 40px ;">
                        <form action="/search" method="get">
                            {% csrf_token %}
                            <div class="input-field">
                                <input type="text" name="q" class="white grey-text autocomplete" id="autocomplete-input"
                                    placeholder="Chandigarh, Jaipur, Delhi .. ">
                                <input type="submit" style="visibility: hidden;" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        {% else %}
        <div class="row">
            <div class="col s11">
                <h3>
                    Hotels in <span class="mycolor-text">{{city}}</span>
                </h3>
            </div>
            <div class="col s1" style="margin-top:28.5px;">
                <button class="btn btn-floating mycolor waves-effect dropdown-trigger-3" data-target='dropdown2'>
                    <i class="material-icons">settings</i>
                </button>

                <!-- Dropdown Structure -->
                <ul id='dropdown2' class='dropdown-content'>
                    <li><a href="?q={{city}}&sort=r_asc">Sort by - Rating (Ascending)</a></li>
                    <li><a href="?q={{city}}&sort=p_asc">Sort by - Price (Ascending)</a></li>
                    <li><a href="?q={{city}}&sort=r_desc">Sort by - Rating (Descending)</a></li>
                    <li><a href="?q={{city}}&sort=p_desc">Sort by - Price (Descending)</a></li>
                </ul>

            </div>
        </div>

        {% for hotel in page_obj %}
        <div class=" col s12 m12">
            <div class="card rounded-corner">
                <a href="/hotel/{{hotel.id}}" style="display: block;">
                    <div class="row">
                        <div class="col s12 m4">
                            <div class="card-image">
                                <img src="{{hotel|get_first_img}}"
                                    onerror="this.onerror=null; this.src='{{hotel|get_random_img}}'" width="400px"
                                    height="200px">
                            </div>
                            <div class="s12 m4">
                                {% with images=hotel|get_images %}
                                {% for i in 5|make_range %}
                                <img src="{{images|get_by_index:i}}" id="img{{i}}" alt="" width="55px" height="45px"
                                    style="padding: 1px 0; margin-top: 4px;">
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col s12 m8">
                            <span class="card-title card-content truncate black-text">{{hotel.name}}
                                <div class="right">

                                    {% for i in hotel|get_stars %}
                                    <i class="material-icons"
                                        style="color: {% if i == 1 %} gold {% else %} grey {% endif%}; font-size: 20px;">stars</i>
                                    {% endfor %}
                                    <h6 style="margin-top: 6px;">&#8377; {{hotel.price}}</h6>
                                </div>
                            </span>


                            <div class="card-content black-text">
                                <strong>
                                    <p>{{hotel.address}}</p>
                                </strong>
                                <p class="truncate">{{hotel|get_overview}}</p>
                            </div>
                            <div class="card-action">
                                {% with highlights=hotel|get_highlights:True  %}
                                {% for i in 5|make_range  %}
                                <div class="chip green white-text">{{ highlights|get_by_index:i }}</div>
                                {% endfor %}
                                {% endwith %}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}


        <div class="pagination center">
            <ul>
                {% if page_obj.has_previous %}
                <li class="waves-effect"><a href="?q={{city}}&sort={{sort}}&page={{ page_obj.previous_page_number }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% endif %}


                {% for p in page_obj.paginator.num_pages|make_range %}
                {% if p|add:'1' == page_obj.number %}
                <li class="active mycolor"><a href="#!">{{ page_obj.number }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="?q={{city}}&sort={{sort}}&page={{ p|add:'1' }}">{{p|add:'1'}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="waves-effect"><a href="?q={{city}}&sort={{sort}}&page={{ page_obj.next_page_number }}"><i
                            class="material-icons">chevron_right</i></a></li>
                {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}